node_modules
prisma/ERD.md
*.log*
.nuxt
.nitro
.cache
.output
.env
dist

# Local Netlify folder
.netlify

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
