node_modules
prisma/ERD.md
composables/image-manifest.json
*.log*
.nuxt
.nitro
.cache
.output
.env
dist
.data

# Local Netlify folder
.netlify

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
