@import './core';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: #fff;
    background-color: #000;
  }
}

@layer utilities {
  .gradient-primary {
    @include gradient-primary();
  }

  .text-gradient-primary {
    @include gradient-primary();

    background-clip: text;

    -webkit-text-fill-color: transparent;
  }
}
